<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Who am I?</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', home_path %></li>
      <li class="active"><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Showcase', showcase_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
  </div>
</nav>

<header>
  <div class="jumbotron">
<h1 class="text-center">About Me</h1>
  </div>
</header>

<article>
 
<div class="container">
   <div class="row">
      <div class="col-md-4">
        <strong>
<div class="panel-heading"><h3>Academic Life</h3></div>

<p> I would give the stress levels of academia a 4.5 out of 5. Here is a bit of background:
<ol>	
<li>BS in Meteorology</li>
<li>MS in Physics</li>
<li>PhD in Energy and Environmental Systems.</li>
</ol>
<i class="fa fa-5x fa-graduation-cap" aria-hidden="true"></i>
<br>

My undergraduate degree was okay, I applied for enough scholarships and internships to cover all of my expenses even after the recession. I received fellowhip funds for graduate school, however, sources began to completely dry up due to budget cuts and that is when my stress levels began to rise. Securing loans, credit cards, becoming a TA in math and physics along with juggling the road blocks of research was definitely overwhelming, but I survived. If you would like to read the first article I ever published <button class "btn"><a href="https://www.hindawi.com/journals/amete/2017/6301026/" target="_blank">click here.</a></button>
   
</p>
         </div>
  
    <div class="col-md-4">
       <div class="panel-heading"><h3>Work Life</h3></div>
      <p>My work life mostly consists of internships, because I have been in school for a very long time. For me, work life is not as stressful as academia. Most of my coworkers were very understanding because they experienced the challenges of academia just like me. I felt quite comfortable at all of my internships:
      <ul>
		<li>EPA</li>
		<li>ESRL</li>
		<li>NMFS</li>
		<li>and the NWS.</li>
	  </ul> 
     <i class="fa fa-5x fa-briefcase" aria-hidden="true"></i>  
        <br>

	  Since internships are only a temporary source of income, finding the next source of income can be stressful. However, it was definitely less stressful than academia. I would give work life a stress level of 2.75 out of 5. 
      
      <br>
      To read another article that features me <button class "btn"><a href="https://www2.ucar.edu/atmosnews/in-brief/4516/right-chemistry" target="_blank">click here.</a></button>
    </p>
    </div>
      
      <div class="col-md-4">
        
        <div class="panel-heading"><h3>Self Starter/Code Life</h3></div>
    
       <p>
 Once I graduated, the environmental jobs began to dry up due to budget cuts under an administration who termed it as "draining the swamp." I believe everything happens for a reason and even though my job outlook was grim, I decided to retrain myself to code. 
 I got started with the free websites first, which were a big help. It gave me the opportunity to get my feet wet with coding on my own time and at my own pace. Once I got the hang of things, I paid for bootcamp courses that taught me new programming languages at a faster pace. My first programming language I ever learned was Fortran back in my undergraduate days. What I have learned is that once you learn one programming language, it becomes easier to learn others. The concepts are the same, however, the syntax may slightly differ.
  My stress levels are a lot lower these days (1.5 out of 5), because I enjoy creating web applications. I love to help others share or communicate their ideas and talents on the web for the world to see. Also, I am looking forward to eventually starting my own business, building my own brand and self publishing my own books...the future is bright!
</p> 
<i class="fa fa-5x fa-code" aria-hidden="true"></i>
</strong>
<br>

     </div>
   </div>
 </div>

</article>

