<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Feel free to contact me!</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'About', about_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Showcase', showcase_path %></li>
        <li class="active"><a href="#">Contact</a></li>
      </ul>
  </div>
</nav>

<header>
  <div class="jumbotron">
<h1 class="text-center">Contact</h1>
  </div>
</header>

<p>
<h2 class="text-center"> 
If there are any questions, comments or concerns feel free to contact me. I can be reached via email at stephany_m_taylor@yahoo.com
</h2>  
<h3 class="text-center">
Also feel free to check out my social media pages, just click the following links to be redirected: <br>
 <div class="wrapper">
  <a class="fa fa-5x fa-github-square" href="https://github.com/staylor1988" target="_blank"></a><br>
  <a class="fa fa-5x fa-codepen" href="https://codepen.io/taylor88/" target="_blank"></a><br>
  <a class="fa fa-5x fa-linkedin-square" href="https://www.linkedin.com/in/stephany-taylor-5b4778152/" target="_blank"></a><br>
  <!-- <a class="fa fa-5x fa-facebook-square" href="https://www.facebook.com/profile.php?id=100022167221072" target="_blank"></a><br>-->
  <a class="fa fa-5x fa-instagram" href="https://www.instagram.com/taylormadeunique/" target="_blank"></a><br>
  
</div>
</h3>

<h2>Thanks for by, hope you enjoyed the view!<br>
<%= image_tag "nyc.jpg", :size => "700x700" %>
</h2>
</p>